<h2>{{#str}}submit_assignment, mod_blockchain{{/str}}</h2>
{{{form}}}
<a href="view.php?id={{moduleid}}&action=assignments" class="btn btn-secondary mt-3">{{#str}}back_to_assignments, mod_blockchain{{/str}}</a>